.hidden {
    display:none
}
.deleteButton{
    background:transparent;
    border:hidden;
    color:#871818;
}
.form-space{
    margin-top:-10px
}
.transparentButton{
    background: transparent;
    border: hidden;
}
