@page
@model SMSWebAppHost.Pages.Account.SignUpModel
@{
}
<p style="text-align:center"> Welcome to Register Page <br /> Please register your account!...</p>
<div class="">
    <form method="post" asp-page="Register" style="width: 22rem;">
        <!-- UserName input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="username">User Name</label>
            <input type="name" id="username" asp-for="@Model.RegisterAccount.UserName" class="form-control" />
        </div>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="email">Email Address</label>
            <input type="name" id="email" asp-for="@Model.RegisterAccount.Email" class="form-control" />
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="password">Password</label>
            <input type="password" id="password" asp-for="@Model.RegisterAccount.Password" class="form-control" />
        </div>
        <!-- Confirm Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="confirmpassword">Confirm Password</label>
            <input type="password" id="confirmpassword" asp-for="@Model.RegisterAccount.ConfirmPassword" class="form-control" />
        </div>
        <!-- Submit button -->
        <input type="submit" class="btn btn-primary btn-block mb-4" />
    </form>
</div>
